<?xml version='1.0' encoding='utf-8'?>
<widget id="com.antigravity.tomar" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Affter</name>
    <description>Juego para beber en fiestas, formando equipos y cumpliendo retos divertidos.</description>
    <author email="dev@antigravity.com" href="http://antigravity.com">
        Antigravity Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="icono_app.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidXEnabled" value="true" />
        <preference name="GradlePluginKotlinEnabled" value="true" />
        <preference name="android-targetSdkVersion" value="35" />
        <preference name="android-compileSdkVersion" value="35" />
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
        </config-file>
    </platform>
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="admob-plus-cordova" spec="^1.28.0">
        <variable name="APP_ID_ANDROID" value="ca-app-pub-9175463204669767~2614562763" />
    </plugin>
    <plugin name="cordova-plugin-androidx-adapter" />
    <plugin name="cordova-plugin-purchase" spec="^13.0.0" />
</widget>
